/* CSS Document */
*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Basis website */
body {
  font-family: Melkweg, Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #141414;
}

/* Gehele header */
header {
  background-color: #b40046;
}

header a {
  text-decoration: none;
  color: white;
  text-align: center;
  text-transform: uppercase;
}

/* Eerste lijn navigatie */
header nav ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding: 0em 1em;
  margin: 0;
  align-items: center;
}

header nav ul ul {
  margin-top: 0.625em;
  border: 0.0625em solid #7e0031;
  padding: 0.125em;
}

header nav ul ul:nth-of-type(1) {
  margin: 0;
}

h1 {
  margin: 0.3em 0;
  font-size: 1.5em;
}

/* Rode box om NL heen, dit is de active page */
header nav ul ul li:nth-of-type(1) {
  background: #7e0031;
  color: #fff;
}

header nav ul ul li:nth-of-type(2) a {
  color: #48001c;
}

header nav ul ul:nth-of-type(1) a {
  font-size: 0.75em;
}

/* Tweede lijn navigate */
ul:nth-of-type(2) {
  display: flex;
  background-color: #141414;
  padding: 0.3em 1em;
}

header nav li {
  flex-grow: 1;
}

header nav li:nth-of-type(5) {
  align-items: center;
  border-left: 0.0625em solid #333;
}

header nav li:nth-of-type(5) button {
  width: 100%;
}

header nav a {
  display: block;
  line-height: 2.5em;
  font-size: 1em;
  text-align: center;
  padding: 0 0.3125em;
}

article img {
  width: 100%;
}

header nav ul:nth-of-type(2) li:nth-of-type(6) {
  display: block;
  position: fixed;
  top: 3.5em;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  height: 3.125em;
  width: 100%;
  height: 100%;
  z-index: 1;

  transform: translateX(0%);
  transition: .5s;
}

header nav ul:nth-of-type(2) li:nth-of-type(6) form {
  display: flex;
  padding: 0.3125em 0.625em 0 0.625em;
  background-color: #000000;
}

header nav ul:nth-of-type(2) li:nth-of-type(6) form input {
  flex-grow: 1;
  vertical-align: middle;
  padding: 0 3.125em 0 0.625em;
  height: 2.5em;
  line-height: 2.5em;
  border: 0;
  border-bottom: 0.0625em solid #666;
  background: transparent;
  color: white;
  transition: border-color .15s ease-out;
  border-radius: 0;
}

header nav ul:nth-of-type(2) li:nth-of-type(6).moveForm {
  transform: translateX(100%);
  transition: .5s;
}

button {
  border: 0;
  background: none;
}

/* Search icon */
.fa-search {
  color: white;
}

/* Melkweg in tijden van Corona */
article {
  position: relative;
  background: #fff;
  color: #141414;
  padding-bottom: 1.5em;
  display: flex;
  flex-direction: column;
}

article a:nth-of-type(1) {
  order: -1;
}

article h2 {
  /* position: absolute;
  top: 8em; */
  font-size: 1.625em;
  padding: 1em .6em 0em .6em;
  margin: 0;
  text-transform: uppercase;
}

article:nth-of-type(1) p#coronaTijden {
  font-size: 0.875em;
  padding: 0em 1.25em 0em 1.25em;
}

article a:nth-of-type(2) {
  display: inline-block;
  padding: 0.625em;
  margin: 0 64% 0 1.25em;
  font-size: 1em;

  background-color: #b40046;

  text-decoration: none;
  color: white;

  text-transform: uppercase;
}

/* Net bevestigd */
section:nth-of-type(1) {
  background-color: #6b7a92;
  border-top: #141414 2em;

  margin-top: .6em;
  padding: 1.875em 1.25em 0 1.25em;
}

section:nth-of-type(1) h2 {
  font-size: 1.625em;
  text-transform: uppercase;
  color: white;
  margin-top: 0;
}

section:nth-of-type(1) ul {
  list-style: none;
  padding: 0;
}

section:nth-of-type(1) ul a {
  display: grid;
  grid-template-columns: 25% 75%;

  text-decoration: none;
  color: white;
  font-size: 1em;
  text-transform: uppercase;
  line-height: .1em;
}

section:nth-of-type(1) ul a p time {
  color: hsla(0, 0%, 100%, .7);
  margin-top: 0;
}

section:nth-of-type(1) ul a p:nth-of-type(2) {
  margin-left: 1em;
}

section:nth-of-type(1) a#AlleBevestigingen {
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;

  margin: 1em -1.5625em 0 -1.5625em;
  padding: 0 1.5625em;
  display: block;
  background: #4b5566;
  line-height: 2.8125em;

}

/* Aside Merchandise */
aside a {
  font-size: .8em;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;

  display: block;
  padding: 0.625em 0.9375em;
  line-height: 2.5em;
  background: #b40046;
  margin-top: .6em;
}

/* Articles */
section:nth-of-type(2) article {
  margin-top: .6em;
  display: flex;
  flex-direction: column;
}

section:nth-of-type(2) article figure {
  width: 100%;
  margin: 0;
  position: relative;
  order: -1;
}

section:nth-of-type(2) article figure div {
  display: flex;
  position: absolute;
  bottom: 0.25em;
  left: 0;
}

section:nth-of-type(2) article figure div time {
  background-color: #333;
  color: white;

  font-size: 1em;
  text-transform: uppercase;
  line-height: 1.5em;
  font-weight: 400;
  padding: 0.625em;
}

section:nth-of-type(2) article figure div a {
  display: inline-block;
  line-height: 1.5em;
  width: 2em;
  padding-top: 0.3em;
  border: 0;
  background: #b40046;
  color: #fff;
  font-size: 1.3em;
  text-align: center;
  vertical-align: middle;
}

section:nth-of-type(2) article h2 {
  color: #141414;
  font-size: 1.6em;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  width: 100%;
  padding: 0.5em .6em 0 .6em;
  ;
}

section:nth-of-type(2) article ul {
  padding: .750em 1.250em 0em 1.450em;
  margin: 0;
  font-size: 0.813em;
  color: #666666;
}

section:nth-of-type(2) article ul li {
  display: flex;
  align-items: center;
  line-height: 0em;
}

section:nth-of-type(2) article ul li span {
  padding-right: .2em;
}

section article ul li p {
  padding-left: .5em;
  padding-top: 0;
}

/* Yung Lean tags */
section article:nth-of-type(3) ul li p {
  line-height: 1em;
}

/* Starring you nu online */
section article:nth-of-type(4) img {
  order: -1;
}

section article:nth-of-type(4) p {
  padding: 0em 1.25em 0em 1.25em;
  font-size: 0.875em;
}

/* -----------------------------*/
/* ---------- Footer ----------*/
/* -----------------------------*/

footer,
footer section:nth-of-type(1) {
  background-color: #141414;
  color: white;
  padding-top: .5em;
}

/* Over Melkweg */
footer section:nth-of-type(1) {
  margin: 1em 1em .5em 1em;
  padding: 1.250em;
  border: 0.188em solid;
  color: #fff;
}

footer section:nth-of-type(1) a {
  color: white;
}

footer section:nth-of-type(1) p {
  font-size: 0.875em;
}

/* Vind ons op social media */
footer section:nth-of-type(2) {
  padding-bottom: 1.250em;
  border-bottom: 0.188em solid #333;
  margin: 0 1em 0 1em;
}

footer section:nth-of-type(2) h2 {
  margin: 0;
  text-transform: uppercase;
  font-size: 1.250em;
}

footer section:nth-of-type(2) ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  flex-wrap: wrap;
}

footer section:nth-of-type(2) ul li {
  margin: 0 .5em .5em 0;
  width: 20%;
}

footer section:nth-of-type(2) ul li a {
  color: white;
  display: block;
  padding: .5em;
  font-weight: 700;
  font-size: 1.7em;
  text-align: center;
  border: 0.15em solid;
}

/* Nieuwsbrief */

footer aside {
  margin-top: 2.5em;
  background: #b40046;
  padding: 1.250em;
}

footer aside h2 {
  font-size: 1.250em;
  text-transform: uppercase;
}

footer aside form {
  display: flex;
  width: 100%;
}

footer aside form input {
  padding: 0.9375em 0 0.9375em 0.9375em;
  border: 0;
  font-size: 0.875em;
  background-color: #7e0031;
  width: 60%;
}

footer aside form button {
  display: block;
  color: white;
  background-color: #7e0031;
  text-align: center;
  font-size: 1.2em;
  width: 20%;
}

footer aside form input::placeholder {
  color: white;
}

/* ------------------------------------------------------------------- */
/* -------------------------------AGENDA------------------------------ */
/* ------------------------------------------------------------------- */

#activePage {
  background-color: #333;
}

/* header nav ul li a:active {
  background: #333;
} */

body nav:nth-of-type(1) {
  transition: .5s;
}

body nav#agenda ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  line-height: 3em;
  padding: 0;
  margin: 0;
  align-items: center;
  background-color: #6b7a92;
}

body nav#agenda ul li {
  display: block;
}

body nav#agenda ul li:nth-of-type(1) {
  border-right: .15em solid #141414;
  padding: 0 1em;
}

body nav#agenda ul li:nth-of-type(3) {
  border-left: .15em solid #141414;
  padding: 0 1em;
}

body nav#agenda ul li button {
  text-transform: uppercase;
  color: white;
}

body nav#agenda ul li form {
  display: flex;
}

body nav#agenda ul li form input {
  vertical-align: middle;
  border: 0;
  border-bottom: 0.0625em solid white;
  background: transparent;
  color: white;
  transition: border-color .15s ease-out;
  border-radius: 0;
}

body nav#agenda ul li form input::placeholder {
  opacity: 0;
}

.fa-calendar-alt {
  font-size: 1.5em;
  text-align: center;
}

/* Articles */

article.agendaArticle time.agendaTime {
  order: -1;
  display: block;
  background-color: #141414;
  width: 100%;
  padding: 0;
  color: #fff;
  font-size: 1em;
  line-height: 2.5em;
  text-align: center;
  text-transform: uppercase;
}

article.agendaArticle {
  padding-top: 0em;
}

article.agendaArticle {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 10em;
  margin: 0;
  padding: 0;
}

article.agendaArticle a {
  width: 100%;
  display: flex;
  text-decoration: none;
}

/* text */
article.agendaArticle div {
  display: block;
  text-decoration: none;
  color: #141414;
  padding: 0.625em;
}

article.agendaArticle h2 {
  font-size: 1em;
  padding: 0;
}

article.agendaArticle h3 {
  font-size: .8em;
  margin: 0.5em 0 0 0;
  font-weight: 200;
  text-transform: uppercase;
}

article.agendaArticle ul {
  display: flex;
  list-style: none;
  flex-direction: column;
  margin-top: .5em;
  padding: 0;
}

article.agendaArticle ul li {
  display: flex;
  font-size: .8em;
  color: #666;
}

article.agendaArticle ul li p {
  margin: 0 0 .5em 0.5em;
}

article.agendaArticle ul li time {
  margin: 0 0 .5em 0.5em;
}

article.agendaArticle ul li:nth-of-type(2) p {
  margin-left: 2em;
}

article.agendaArticle div {
  display: flex;
  flex-direction: column;
}

/* image */
article.agendaArticle figure {
  position: relative;
  order: -1;
  margin: 0;
  padding: 0;
  width: 35%;
  height: 10em;
}

article.agendaArticle figure img {
  object-fit: cover;
  height: 7em;
}

article.agendaArticle figure figcaption {
  position: absolute;
  bottom: 2.5em;
  text-align: center;
  width: 100%;
  background-color: #b40046;
  color: white;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  line-height: .2em;
}

article.agendaArticle:nth-of-type(2),
article.agendaArticle:nth-of-type(2) figure,
article.agendaArticle:nth-of-type(2) figure img {
  height: 11em;
}

article.agendaArticle:nth-of-type(2) figure {
  width: 75%;
}

/* Melkweg hiphop */
aside#hiphop {
  background-color: white;
  margin-top: 3em;
  position: relative;
  padding: 0.625em;
}

aside#hiphop img {
  width: 12.5em;
  position: absolute;
  top: -2.5em;
  z-index: -1;
  left: 0;
}

aside#hiphop h2 {
  margin: 0;
}

aside#hiphop p {
  margin: .5em 0 0 0;
  font-size: .8em;
}

/* Filters */
nav:nth-of-type(2) {
  z-index: 2;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  padding: 0.3125em;
  display: none;
}

nav:nth-of-type(2) ul {
  list-style: none;
  background-color: #6b7a92;
  margin: 0;
  padding: 0.1em 0.9375em 1.5em 0.9375em;
}

nav:nth-of-type(2) ul:nth-of-type(2) {
  display: block;
  border-top: 0.125em solid #2b313a;
}

nav:nth-of-type(2) ul:nth-of-type(3) {
  display: flex;
  border-top: 0.125em solid #2b313a;
}

nav:nth-of-type(2) ul:nth-of-type(3) li:nth-of-type(1) button {
  background-color: #4b5566;
  padding: 1em 4em;
  text-transform: capitalize;
}

nav:nth-of-type(2) ul:nth-of-type(3) li:nth-of-type(2) button {
  padding: 1em 4em;
  text-transform: capitalize;
}

nav:nth-of-type(2) ul li {
  margin-top: 1.2em;
}

nav:nth-of-type(2) ul li button {
  color: white;
  text-transform: uppercase;
  font-size: .8em;
}

.filters {
  display: block !important;
}

.clickButton {
  background-color: white;
  line-height: 2em;
  color: #000000 !important;
}

/* ------------------------------ */
/* Responsive iphone 5/SE styling */
/* ------------------------------ */

@media (max-width: 320px) {
  article a:nth-of-type(2) {
    margin-right: 58%;
  }

  section:nth-of-type(1) ul a {
    grid-template-columns: 30% 70%;
    font-size: .9em;
  }

  footer section:nth-of-type(2) ul li a {
    padding: .3em;
  }

  body nav#agenda ul li:nth-of-type(1) {
    padding: 0;
  }

  body nav#agenda ul li:nth-of-type(3) {
    padding: 0 .5em;
  }
}

/* ------------------------------ */
/* Responsive Galaxy Note 3 styling */
/* ------------------------------ */
@media (min-width: 360px) {
  article a:nth-of-type(2) {
    margin-right: 63%;
  }

  section:nth-of-type(1) ul a {
    grid-template-columns: 30% 70%;
    font-size: .9em;
  }
}

